.chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 70%;
    height: 100%;
    transition: var(--main-transition);
}

.chat__wrapper {
    overflow: auto;
}

.chat__wrapper::-webkit-scrollbar,
.chat__input::-webkit-scrollbar {
    width: 5px;
}

.chat__wrapper::-webkit-scrollbar-thumb,
.chat__input::-webkit-scrollbar-thumb {
    background-color: #223c50;
}

.chat_padding {
    padding-left: calc(max(2%, 10px));
    padding-top: calc(max(2%, 10px));
}

.chat__input__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    max-height: 75px;
}

.chat__input__wrapper_margin {
    margin-top: calc(2 * var(--message-margin));
}

.textarea__wrapper {
    display: block;
    width: 90%;
    height: 100%;
    position: relative;
}

.chat__input {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--message-bgc);
    border-radius: var(--message-border-radius);
    resize: none;
    border: none;

    font-family: inherit;
    font-size: .9rem;
    line-height: 1rem;
    transition: var(--main-transition);
    border: 1.5px solid transparent;
}

.chat__input:focus {
    outline: none;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04),
        0px 6px 10px rgba(0, 0, 0, 0.02);
    border: 1.5px solid #000;
    color: #000;
}

.chat__input_padding {
    padding: calc(max(2%, 10px));
    padding-right: calc(max(2.5%, 22px));
}

.chat__input_margin {
    margin-right: 10px;
}

.input__emoji__wrapper {
    display: block;
    position: absolute;
    width: var(--input-emoji-size);
    height: var(--input-emoji-size);
    background-image: url('./img/smile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: calc(var(--input-emoji-size) / 3);
    right: calc(var(--input-emoji-size) / 2);
}

.input__emoji__wrapper aside {
    opacity: 0;
    transform: scale(0);
    transform-origin: 100% 100%;
    transition: var(--main-transition);
    right: 255px;
    bottom: 325px;
}

.input__emoji__wrapper:hover {
    cursor: pointer;
}

.input__emoji__wrapper:hover aside {
    opacity: 1;
    transform: scale(1);
}

.chat__sendButton {
    display: block;
    width: var(--submit-button-size);
    height: var(--submit-button-size);
    background-image: url('./img/send.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: var(--main-transition);
}

.chat__sendButton:hover {
    transform: scale(1.3);
}

@media (max-width: 425px) {
    .chat {
        position: absolute;
        width: 100%;
        left: 0;
    }

    .chat_padding {
        padding: calc(max(2%, 10px));
        padding-top: calc(max(2%, 10px));
    }

    .chatShow {
        left: -100%;
    }

    .input__emoji__wrapper{
        display: none;
    }
}