.message__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--message-bgc);
    border-radius: var(--message-border-radius);
    position: relative;
}

.message__wrapper_padding {
    padding: calc(max(2%, 10px));
    padding-right: calc(var(--message-remove-icon-size) + calc(var(--message-remove-icon-size) / 2));
}

.message__wrapper_margin {
    margin-bottom: var(--message-margin);
}

.message__wrapper:last-child {
    margin-bottom: 0;
}

.message__wrapper:hover div {
    opacity: 1;
}

.message__description {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.message__description_margin {
    margin-bottom: 5px;
}

.message__icon {
    display: block;
    width: var(--message-icon-size);
    height: var(--message-icon-size);
    border-radius: 50%;
}

.message__icon_margin {
    margin-right: calc(max(2%, 10px));
}

.message__userName {
    display: block;
    width: auto;
    height: auto;
    font-size: 1rem;
}

.message__text {
    display: block;
    width: auto;
    height: auto;
    font-size: .9rem;
    line-height: 1.2rem;
    word-break: keep-all;
    overflow-wrap: break-word;
}

.message__text_margin {
    margin-left: calc(var(--message-icon-size) + calc(max(2%, 10px)));
}

.messageLink {
    color: blue;
}

.messageLink:hover {
    text-decoration: underline;
}