.chatlistItem {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    transition: var(--main-transition);
    position: relative;
}

.chatlistItem_padding {
    padding: 4%;
}

.chatlistItem:hover {
    cursor: pointer;
    background-color: var(--main-bgc);
}

.chatlistItem_active {
    background-color: var(--main-bgc);
}

.chatImage {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}

.chatImage_margin {
    margin-right: 10px;
}

.chatName {
    display: block;
    width: auto;
    height: auto;
    font-size: 1rem;
}